body, html {
    margin: 0;
    padding: 0;
}

#reactContainer {
    min-height: 100vh;
}

.error {
    color: red;
}

.progress {
    //position: fixed;
    //top: 0;
}

.signOutButton {
    position: fixed;
    top: 20px;
    right: 20px;
}
