body, html {
    margin: 0;
    padding: 0;
}

#reactContainer {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.error {
    color: red;
}

.progress {
    //position: fixed;
    //top: 0;
}

.signOutButton {
    position: fixed;
    top: 20px;
    right: 20px;
}
