body, html {
    margin: 0;
    padding: 0;
}

#reactContainer {
    min-height: 100vh;
}

.error {
    color: red;
}

.questionNumberDiv {
    height: 32px;
    width: 32px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: inline-block;
}
