.answerVariant {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.answerPaper {
    padding: 5px;
    height: 38px;
}

.chooseRightEditPaper {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
