.answer-variant {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.question-order-span {
    position: relative;
    left: 8px;
    top: 4px;
}

.choose-right-edit-paper {
    margin-top: 15px;
    padding: 10px;
}

.answer-paper {
    padding: 5px;
}
