.match-answer-variant {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.match-columns-edit-paper {
    margin-top: 15px;
    padding: 10px;
}

.match-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
