.matchAnswerVariant {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.matchColumnsEditPaper {
    margin-top: 15px;
    padding: 10px;
}

.matchRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.answerButton {
    margin: 10px;
}

.resetButton {
    margin: 30px 8px;
}
