.matchAnswerVariant {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.matchColumnsEditPaper {
    margin: 15px auto;
    padding: 10px;
}

.matchRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.answerPaper {
    margin: 8px;
    padding: 8px;
}

.resetButton {
    margin: 30px 8px;
}

.matchTypography {
    display: inline-block;
}

.answerEditPaper {
    height: 24px;
    line-height: 24px;
}
