.table {
    table-layout: fixed;
}

.tablePaper {
    margin: 20px;
    padding: 20px;
}

.questionTextCell {
    overflow: hidden;
}

.questionTableRow:hover {
    background-color: dimgray;
}

.noColumn {
    width: 3%;
}

.questionColumn {
    width: 40%;
}

.typeColumn {
    width: 18%;
}

.statusColumn {
    width: 8%;
}

.checkColumn {
    width: 18%;
}

.markColumn {
    width: 13%;
}
