.questionItem {
    height: 24px;
    line-height: 24px;
    max-width: 100%;
}

.questionText {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.dragIcon {
    width: 18%;
    display: inline-block;
    float: right;
    cursor: move;
}
