.signWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);

    grid-template-areas: 'a a a a a a a a' 'c c b b b b d d' 'c c b b b b d d' 'e e e e e e e e';
}

.spaceItemA {
    grid-area: a;
}

.spaceItemC {
    grid-area: c;
}

.spaceItemD {
    grid-area: d;
}

.spaceItemE {
    grid-area: e;
}

.signForm {
    grid-area: b;
}

.githubButton {
    left: calc(50% - 135px);
    margin-top: 50px;
}
