.testEditForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.testEditFormItem {
    margin: 50px;
    position: relative;
    min-width: 0;
}

.uploadFileButton {
    display: none;
}

.questionChooseDiv {
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.6);
}

.questionChooseDivActive {
    background-color: #00695f;
    color: white;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.6);
}

.questionChooseTypoActive {
    color: white;
}

.editQuestionButton {
    margin-top: 20px;
}

.questionEditForm {
    margin-top: 20px;
    padding: 15px;
}

.editPaper {
    margin-top: 15px;
    padding: 10px;
}

.dragHandle {

}
