.questionButton {
    margin: 8px 8px;
}

.questionButtonActive {
    background-color: #00695f;
}

.questionButton:first-child {
    margin-top: 25px;
}

.testDonePaper {
    padding: 15px;
}

.profileButton {
    left: calc(50% - 51px);
}

.doneTestButton {
    position: fixed;
    top: 20px;
    right: 20px;
}

.checkModeContaiter {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.checkModeContaiterItem {
    margin: 20px;
}
