.container {
    width: 500px;
    margin: 50px auto;
}

.question-paper {
    padding: 50px;
}

.question-button {
    margin: 8px 8px;

    &__next {
        margin: 30px 8px 0;
    }
}

.question-button:first-child {
    margin-top: 25px;
}
