.container {
    width: 500px;
    margin: 50px auto;
}

.questionPaper {
    padding: 50px;
}

.questionButton {
    margin: 8px 8px;
}

.questionButtonNext {
    margin: 30px 8px 0;
}

.questionButtonActive {
    background-color: #00695f;
}

.questionButton:first-child {
    margin-top: 25px;
}

.testDonePaper {
    padding: 15px;
}

.profileButton {
    left: calc(50% - 51px);
}

.questionOrderSpan {
    position: relative;
    left: 8px;
    top: 4px;
}

.doneTestButton {
    position: fixed;
    top: 20px;
    right: 20px;
}
